<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Fashioner</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script
      src="https://kit.fontawesome.com/c911043182.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="transition transition-2 is-active"></div>
    <div id="app">
      <header>
        <a href="index.html"><img src="logo.png" alt="" /></a>
        <nav>
          <ul>
            <li><a href="#">FEMMES</a></li>
            <li><a href="homme.html" class="transition">HOMMES</a></li>
            <li><a href="enfant.html" class="transition">ENFANTS</a></li>
            <li><a href="#" class="transition">SPORT</a></li>
            <li><a href="#" class="transition">MODE</a></li>
            <li><a href="#" class="transition">SOLDES</a></li>
          </ul>
        </nav>
        <a href="achat.html" class="cart"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M96 0C107.5 0 117.4 8.19 119.6 19.51L121.1 32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24C0 10.75 10.75 0 24 0H96zM128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464zM512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464z"
            />
          </svg>

          <span id="counter"> {{ counter }} </span>
        </a>
      </header>
      <div class="container">
        <div class="card-container">
          <span
            ><button @click="productsVisible">Ajouter au panier</button></span
          >
          <img src="/Images/Femme/image1.jpg" />
          <div>
            <p>Sweat court</p>
            <h2>54,95€</h2>
          </div>
        </div>
        <div class="card-container">
          <span
            ><button @click="productsVisible">Ajouter au panier</button></span
          >
          <img src="Images/Femme/image3.jpg" />
          <div>
            <p>Jean</p>
            <h2>54,95€</h2>
          </div>
        </div>
        <div class="card-container">
          <span
            ><button @click="productsVisible">Ajouter au panier</button></span
          >
          <img src="Images/Femme/image2.jpg" />
          <div>
            <p>Jean</p>
            <h2>54,95€</h2>
          </div>
        </div>
        <div class="card-container">
          <span
            ><button @click="productsVisible">Ajouter au panier</button></span
          >
          <img src="Images/Femme/image4.jpg" />
          <div>
            <p>Crop-Top</p>
            <h2>54,95€</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="app.js"></script>
</html>
