@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Montserrat&family=Oswald:wght@300&family=Roboto:wght@300&display=swap");

/* Page */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Karla";
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* HEADER */

header {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;

  nav {
    width: 100%;
    height: 40%;
    margin-top: 20px;

    ul {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        position: relative;
        list-style: none;
        display: flex;
        justify-content: center;
        width: 200px;
        height: 100%;

        a {
          text-decoration: none;
          display: block;
          font-size: 30px;
          font-family: "Roboto", sans-serif;
          margin: 20px;
          color: black;
          transition: 0.3s;
          padding: 10px;
          font-weight: 500;

          &::before {
            content: "";
            position: absolute;
            background-color: black;
            bottom: -30%;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 3px;
            transition: 0.2s all ease 0.4s;
          }

          &:hover::before {
            width: 100%;
            transition: width 0.2s ease;
          }

          &::after {
            content: "";
            position: absolute;
            background-color: black;
            bottom: calc(-30% + 3px);
            z-index: -1;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            height: 0%;
            transition: 0.3s all ease 0.2s;
          }

          &:hover::after {
            height: 90%;
          }

          &:hover {
            color: white;
          }
        }
      }
    }

    i {
      width: 200px;
      height: 200px;
    }
  }

  img {
    width: 140px;
    height: 140px;
  }

  a.cart,
  a.profile {
    position: relative;
    top: 50%;
  }

  a.cart {
    right: 6%;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);

    span {
      position: absolute;
      display: flex;
      right: -15%;
      bottom: 10%;
      background-color: red;
      border-radius: 50px;
      width: 60%;
      height: 60%;
      font-size: 20px;
      text-decoration: none;
      color: black;
      justify-content: center;
      opacity: 0;
    }
  }

  a.profile {
    right: 3%;
    width: 37px;
    height: 37px;
    transform: translateY(-60%);
  }
}

/* CONTENT */

.container {
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div.card-container {
    position: relative;
    display: flex;
    width: 300px;
    height: 430px;
    border-radius: 15px;
    background-color: rgba($color: salmon, $alpha: 0.2);
    justify-content: center;
    margin: 20px 40px 20px 40px;

    img {
      border-radius: 15px 15px 0 0;
      position: relative;
      width: 100%;
      height: 85%;
    }

    span {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 85%;
      border-radius: 15px 15px 0 0;

      &::before {
        content: "";
        position: absolute;
        border-radius: 15px 15px 0 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(180, 220, 220);
        transition: height 0.5s, width 0.1s 0.4s;
        z-index: 1;
        width: calc(100% - 30px);
        height: 0;
      }

      &:hover::before {
        height: 100%;
        width: 100%;
        transition: height 0.5s, width 0.1s;
      }

      button {
        opacity: 0;
        position: absolute;
        border: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        text-decoration: none;
        background-color: rgb(250, 200, 185);
        font-size: 30px;
        border-radius: 50px;
        z-index: 1;
        font-weight: 600;
        width: 200px;
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        transition: 0.2s 0.1s;

        &:before {
          content: "";
          position: absolute;
          top: 0%;
          left: 0%;
          z-index: -1;
          width: 100%;
          height: 100%;
          border-radius: 70px;
          background-color: rgb(250, 200, 185);
          transition: 0.5s all ease;
        }

        &:hover::before {
          transform: scale(1.3);
          opacity: 0;
        }
      }

      &:hover button {
        opacity: 1;
      }
    }

    div {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 15%;

      p {
        font-size: 23px;
        margin-left: 15px;
        font-weight: 500;
        justify-self: flex-start;
        font-family: "Montserrat", sans-serif;
      }

      h2 {
        font-size: 32px;
        margin-right: 15px;
      }
    }
  }
}

.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4e4e4e;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.transition-1.-is-active {
  opacity: 1;
  pointer-events: all;
}

.transition-2 {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  background-color: #4e4e4e;
  z-index: 101;
  transition: 0.5s;
}

.transition-2.is-active {
  left: 0;
}

.transition-3 {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #4e4e4e;
  z-index: 101;
  transition: 0.5s;
}

.transition-3.is-active {
  top: 0;
}

/* LOGIN PAGE */

body.login {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 192, 194, 1) 100%
  );
}

div.logincontainer {
  background-color: white;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  border: 1px solid #4e4e4e;

  h1 {
    text-align: center;
    margin: 10px 0 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px silver solid;
  }

  div {
    position: relative;

    input {
      margin-bottom: 20px;
      padding: 20px;
      border: 0;
      outline: none;
      position: relative;
      font-size: 18px;
    }

    label {
      position: absolute;
      left: 5px;
      top: 30%;
      pointer-events: none;
      color: rgba($color: blue, $alpha: 0.4);
      font-weight: 600;
      transition: 0.5s;
    }

    span {
      border-bottom: 1px solid silver;
      width: 60%;
      height: 2px;

      &::before {
        content: "";
        position: absolute;
        top: 60%;
        left: 0;
        background-color: rgba($color: blue, $alpha: 0.4);
        height: 2px;
        width: 0%;
        transition: 0.5s;
      }
    }

    input:focus ~ span::before {
      width: 60%;
    }

    input:focus ~ label,
    input:valid ~ label {
      transform: translateY(-150%);
    }
  }
}
